.tag {
  font-size: 0.7rem;
  font-weight: 600;

  padding: 5px 10px;
  border-radius: 9999px;

  background: linear-gradient(135deg, #e0f2ff, #f0f9ff);
  color: #0369a1;

  border: 1px solid #bae6fd;

  margin-right: 5px;
}
